.dateComponent{
    background: var(--backgroundColor);
    color: var(--primaryColorFont, #e0b3b3);
    --ion-background-color-rgb: transparent;
}

.labelInput {    
    color: var(--primaryColorFont);
    font-size: 18px;
    margin-left: 10px;
}

.centerInput {
    position: relative;
    width: 80%;
    max-width: 540px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    display: flex;
    align-items: center;
}


  
  ion-datetime.md::part(calendar-day active),
  ion-datetime.md::part(calendar-day active):focus {
    background-color: var(--principalColor);
    color: #fff;
  }
  
  ion-datetime.ios::part(calendar-day active),
  ion-datetime.ios::part(calendar-day active):focus {
    background-color: var(--principalColor);
    color: #fff;
  }

  