ion-router-outlet {
    overflow-y: scroll;
}

.contentInstitutionRegister{
    main {
        padding-top: 40px;
        display: flex;
        flex-direction: column;
        gap: 14px;
        align-items: center;
        justify-content: center;
        color: black;
        
        .inputsSection{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
        }
  
        .buttonActions{
            display: flex;
            align-items: center;
            flex-direction: row;
            gap: 0px;
            margin-top: 20px;
        }
    }
}