.labelInput {    
    color: var(--primaryColorFont);
    font-size: 16px;
    margin-left: 10px;
}

.centerInput {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.selectListInput {
    margin-right: 10px;
    background-color: transparent;
}

.selectListInput:hover {
    outline: var(--outlineInput);
}

.selectItemInput {
    --background: var(--backgroundcolorInput);
    --border-color: transparent;
    --padding-start: 10px;
    color: var(--colorInput);
    font-size: 18px;
}

.selectItemInput ion-select {
    --color: var(--primaryColorFont);
    --placeholder-color: var(--primaryColorFont);
    --highlight-color-focused: var(--primaryColorFont);
}

.selectItemInput ion-select::part(placeholder) {
    color: var(--primaryColorFont);
}

.selectItemInput ion-select::part(text) {
    color: var(--primaryColorFont); 
}
