.containerInput{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.labelInput {    
    color: #eee;
    font-size: 16px;
    margin-left: 10px;
}

.centerInput {
    width: 90%;
    max-width: 540px;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.textInput {
    width: 90%;
    max-width: 540px;
    height: 32px;
    min-height: 0px;
    border-radius: 10px;
    text-indent: 10px;
    font-size: 20px;
    color: var(--colorInput);
    background-color: var(--backgroundcolorInput);
    border: var(--borderInput);
    outline: 0;
}

.textInput:hover {
    outline: var(--outlineInput);
}