.contentMain {
    width: 100vw;
    min-height: 100vh;
    background-color: var(--backgroundColor);
    
    
    
}

ion-router-outlet {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow-y: auto;
    padding-bottom: 60px;
    contain: initial;
}



/*  TODO => CRIAR UMA VARIAVEL NO CSS PARA CONTROLAR O ESTADO DE OVERFLOW DA PAGINA - ScrollUtils   */