.contentMain {
    width: 100vw;
    height: 100vh;
    background-color: var(--backgroundColor);
}

ion-router-outlet {
    overflow-y: scroll;
}

/*  TODO => CRIAR UMA VARIAVEL NO CSS PARA CONTROLAR O ESTADO DE OVERFLOW DA PAGINA - ScrollUtils   */