.authCodeContainer {
  display: flex;
  align-items: center;  
  justify-content: center;
  gap: 20px;

  .auth_code {
    width: 42px;
    height: 64px;
    border: var(--borderInput);
    border-radius: 12px;
    outline: 0;

    font-size: 32px;
    text-indent: 30%;
  }
}