main {
    height: calc(100% - 70px);
}

/* Ajuste geral */
.fc {
    color: black;
    font-family: Arial, sans-serif;
    font-size: 14px;
    height: 100%;
}

/* Estilo para o calendário (Imagem 1) */
.fc-daygrid-event {
    font-weight: bold;
    padding: 2px;
    text-align: center;
}

/* Estilo da célula de eventos */
.fc-daygrid-day-number {
    font-size: 12px;
    color: #666;
}

/* Estilo para o modo lista (Imagem 2) */
.fc-list-event-dot {
    border-radius: 50%;
    border: none;
}

.fc-daygrid-day {
    height: 100px;
    /* Define uma altura fixa para os quadrados */
}

.fc-daygrid-more-link {
    display: block;
    /* Garante que o botão "mais" seja exibido */
    text-align: center;
    margin-top: 5px;
    color: #007bff;
    cursor: pointer;
}

.fc-toolbar-chunk:last-child {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .fc-toolbar-chunk:last-child button {
    margin: 0 5px;
  }

  .fc .fc-toolbar-title{
    font-size: 21px;
    text-align: center;
    color: var(--primaryColorFont);
  }

  .fc .fc-toolbar.fc-header-toolbar{
    padding: 2px;
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
    margin-top: 4px;
  }

  .fc-direction-ltr .fc-button-group > .fc-button:not(:first-child) {
    background-color: var(--backgroundColorButtonConfirm);
    outline: 0;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.3);
  }

  .fc-direction-ltr .fc-button-group > .fc-button:not(:first-child):hover{
    transform: scale(1.05);
  }
  

.fc .fc-daygrid-day.fc-day-today {
  background-color: #65a2e428;
}

.fc .fc-list-empty{
  background-color: #ffffff00;
  color: var(--primaryColorFont);
  border: 0;
}

.fc-theme-standard .fc-list {
  border: 0;
}

.fc .fc-list-sticky .fc-list-day > * {
  background: rgba(255, 0, 0, 0);
}

.fc-theme-standard .fc-list-day-cushion {
  background-color: rgba(255, 0, 0, 0);
}

 .fc-cell-shaded{
  color: var(--primaryColorFont);
}


.fc-list-day-side-text, .fc-list-day-text, .fc-list-event-title, 
.fc-daygrid-day-number, .fc-col-header-cell-cushion {
  color: var(--primaryColorFont);
}

.fc .fc-button-primary:not(:disabled).fc-button-active:focus, .fc .fc-button-primary:not(:disabled):active:focus {
  box-shadow: none;
}

.fc .fc-button-group > .fc-button {
  box-shadow: none;
}


.fc .fc-toolbar-chunk > .fc-button{
  box-shadow: none;
}
