

.containerImg{
    padding: 4px 0px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    width: 80%;
    max-width: 540px;
    border: 2px dashed;
    border-color: var(--borderFile);

    .image{
        width: 200px;
        height: 200px;
    }

    .icon{
        width: 30px;
        height: 30px;
        color: var(--primaryColorFont);
    }
}