.profileDataContent{
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 14px;
      
      
      color: var(--primaryColorFont);
      text-align: left;

      padding: 30px;
}

.mainProfilePage{
      display: flex;
      flex-direction: column;
      align-items: center;
}