.contentIntView {
  main {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: var(--primaryColorFont);
  }
}

.codeInst{
  margin: 20px 0px;
  display: flex;
  gap: 5px;
  font-size: 20px;
}

.codeInst > p:last-child {
  font-weight: 500;
  letter-spacing: 2.4px;
}